# Managed by Ansible

# Several settings (KexAlgorithms, Ciphers, MACs), and moduli tuning,
# inspired by the helpful notes at:
#   https://infosec.mozilla.org/guidelines/openssh

Port {{ sshd_port }}
AddressFamily inet

Banner {{ sshd_local_path }}/banner
PrintMotd no

HostKey /etc/ssh/ssh_host_ed25519_key

LogLevel VERBOSE
SyslogFacility AUTH

LoginGracetime 30
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2

PermitRootLogin no
AllowGroups {{ sshd_allowed_group }}

AuthenticationMethods publickey,keyboard-interactive:pam
UsePAM yes
KbdInteractiveAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile {{ sshd_local_path }}/authorized_keys.%u

{% if sshd_require_fido is defined and sshd_require_fido|bool %}
# Only SSH pubkeys generated with a FIDO hardware token will be
# allowed to authenticate. For more information, read:
# https://developers.yubico.com/SSH/Securing_SSH_with_FIDO2.html
PubkeyAcceptedAlgorithms sk-ssh-ed25519@openssh.com
{% else %}
PubkeyAcceptedAlgorithms sk-ssh-ed25519@openssh.com,ssh-ed25519
{% endif %}

HostbasedAuthentication no
PasswordAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

AllowTcpForwarding local
X11Forwarding no
UseDNS no

Subsystem      sftp    /usr/lib/openssh/sftp-server

KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

{% set eu = sshd_emergency_user | default('') | string | trim %}
{% if eu | length >= 8 and (eu is match('^[A-Za-z_][A-Za-z0-9_-]*$')) %}
# Use a strong, random 8-character name for the emergency user
# (Remember to create the shell account and add to SSH allowed group)
Match User {{ eu }}
    AuthenticationMethods publickey
{% endif %}
