---
##############################################################################
- block:
##############################################################################

  - name: Render apt sources
    ansible.builtin.template:
      src: "apt-{{ item }}.j2"
      dest: "{{ apt_dir }}/{{ item }}"
    with_items:
      - "main.sources"
      - "security.sources"

  - name: Install baseline packages
    ansible.builtin.apt:
      name: "{{ item }}"
      state: present
    with_items:
      - "bash-completion"
      - "cowsay"
      - "cron"
      - "fortune"
      - "jq"
      - "nftables"
      - "rsyslog"
      - "systemd-timesyncd"
      - "tmux"
      - "vim"

  - name: Ensure important services are running and enabled
    ansible.builtin.service:
      name: "{{ item }}"
      state: started
      enabled: yes
    with_items:
      - "cron"
      - "nftables"
      - "rsyslog"
      - "ssh"
      - "systemd-timesyncd"

##############################################################################
- block:
##############################################################################

  - name: Copy a very helpful profile script
    ansible.builtin.copy:
      src: "zz80-helpful-cow.sh"
      dest: "/etc/profile.d/zz80-helpful-cow.sh"

##############################################################################
- block:
##############################################################################

  - name: Make root slightly better with bashrc tuning
    ansible.builtin.copy:
      src: "bashrc"
      dest: "/root/.bashrc"
      backup: true

  - name: Make root way cooler with shell history scrolling
    ansible.builtin.copy:
      src: "inputrc"
      dest: "/root/.inputrc"

  - name: Make root much awesomer with vim settings
    ansible.builtin.copy:
      src: "vimrc"
      dest: "/root/.vimrc"

##############################################################################
- block:
##############################################################################

  - name: Render script to install security updates
    ansible.builtin.template:
      src: "install-sec-updates.j2"
      dest: "/usr/local/sbin/install-sec-updates"
      mode: 0500

  - name: Create cronjob to run security updates script
    ansible.builtin.cron:
      name: "security-only updates installed by apt"
      minute: "05"
      hour: "06,18"
      user: root
      job: "/usr/local/sbin/install-sec-updates install"
      cron_file: ansible_security-updates
