# Managed by Ansible
Types: deb
URIs: https://security.debian.org/debian-security
Suites: {{ lin_release }}-security
Components: main non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
