# Managed by Ansible
Types: deb
URIs: https://deb.debian.org/debian
Suites: {{ lin_release }} {{ lin_release }}-updates
Components: main non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
